.messages__box
  %p.messages__box__user-name
    = message.user.name
  %p.messages__box__posted-time
    = message.created_at.strftime("%Y/%m/%d %H:%M")
  - if message.content.present?
    %p.messages__box__message
      = message.content
  = image_tag message.image.url, class: 'messages__box__image' if message.image.present?